@font-face {
	font-family: 'CjOnlyOneBodyRegular';
	font-style: normal;
	src: url(/src/assets/styles/font/CJONLYONENEWbodyRegular.woff) format('woff');
}

@font-face {
	font-family: 'CjOnlyOnetitleMedium';
	font-style: normal;
	src: url(/src/assets/styles/font/CJONLYONENEWtitleMedium.woff) format('woff');
}

@font-face {
	font-family: 'CjOnlyOneBodyLight';
	font-style: normal;
	src: url(/src/assets/styles/font/CJONLYONENEWbodyLight.woff) format('woff');
}

@font-face {
	font-family: 'CjOnlyOnetitleBold';
	font-style: normal;
	src: url(/src/assets/styles/font/CJONLYONENEWtitleBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: url(/src/assets/styles/font/Pretendard-Black.woff2) format('woff2'),
		url(/src/assets/styles/font/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: url(/src/assets/styles/font/Pretendard-ExtraBold.woff2) format('woff2'),
		url(/src/assets/styles/font/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: url(/src/assets/styles/font/Pretendard-Bold.woff2) format('woff2'),
		url(/src/assets/styles/font/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: url(/src/assets/styles/font/Pretendard-SemiBold.woff2) format('woff2'),
		url(/src/assets/styles/font/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: url(/src/assets/styles/font/Pretendard-Medium.woff2) format('woff2'),
		url(/src/assets/styles/font/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: url(/src/assets/styles/font/Pretendard-Regular.woff2) format('woff2'),
		url(/src/assets/styles/font/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: url(/src/assets/styles/font/Pretendard-Light.woff2) format('woff2'),
		url(/src/assets/styles/font/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: url(/src/assets/styles/font/Pretendard-ExtraLight.woff2) format('woff2'),
		url(/src/assets/styles/font/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: url(/src/assets/styles/font/Pretendard-Thin.woff2) format('woff2'),
		url(/src/assets/styles/font/Pretendard-Thin.woff) format('woff');
}
